.react-datepicker {
    font-size: 10px;
}
.react-datepicker__day-name, .react-datepicker__day {
    width: 2em;
}
.react-datepicker__time-box {
    width: '60px';
}
.react-datepicker-popper {
    z-index: 1000;
}